<script props>
    module.exports = {
        hours_left: props.hours_left || "72 hours",
        date: props.date || "April 12 at 12:45 p.m.",
        money: props.money || "€16",
        amount: props.amount || "230,00 €",
        date: props.date || "April 22, 2024 at 12:45 p.m.",
        number: props.amount || "pi_e78e7dcfb444cf",
        cash_unlocked: props.cash_unlocked || "4,00 €*",
        total: props.total || "230,00 €"
    };
</script>


<div class="w-[600px] max-w-full mx-auto">
    <div class="my-6 sm:my-4 text-center">
        <x-weblink />
    </div>
    <div class="bg-white text-left p-[70px] border-0 border-t-8 border-[#c72443] border-solid">
        <div class="text-[50px] font-bold leading-[60px]">
            <div>You created</div>
            <div>a kohort 🔥</div>
        </div>

        <div class="text-[24px] font-normal mt-[30px]">
            Hello Martin, you have <span class="font-bold">{{hours_left}}</span> left to earn up to
            <span class="font-bold"> {{money}} in cashback</span>
        </div>

        <div class="text-[24px] font-normal mt-[30px]">
            Visit your kohort below to invite your friends to make a sponsored purchase.
        </div>

        <div>
            <x-test-button text="See my kohort" />
        </div>
        <div class="mt-[30px]">
            <x-spacer height="1px" color="rgba(191, 191, 191, 0.7)" />
        </div>
        <div class="mt-[40px]">
            <span class="text-[24px] font-bold">Payment confirmation</span>
            <div class="mt-[30px]">
                <table class="w-full">
                    <tr>
                        <td class="py-[5px]"><span>Amount</span></td>
                        <td class="text-right py-[5px]"><span class="font-semibold">{{amount}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"><x-spacer height="1.5px" color="rgba(191, 191, 191, 0.7)" /></td>
                    </tr>
                    <tr>
                        <td class="py-[5px]"><span>Date</span></td>
                        <td class="text-right py-[5px]"><span class="font-semibold">{{date}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><x-spacer height="1.5px" color="rgba(191, 191, 191, 0.7)" /></td>
                    </tr>
                    <tr>
                        <td class="py-[5px]"><span>Number</span></td>
                        <td class="text-right py-[5px]"><span class="font-semibold">{{number}} </span></td>
                    </tr>
                    <tr>
                        <td colspan="2"><x-spacer height="1.5px" color="rgba(0, 0, 0, 0.9)" /></td>
                    </tr>
                    <tr class="p-[10px]">
                        <td class="py-[5px]"><span>Total</span></td>
                        <td class="text-right py-[5px]"><span class="font-semibold">{{total}}</span></td>
                    </tr>
                </table>
            </div>
        </div>


    </div>
    <x-test-footer />
</div>